In [2]:
import matplotlib as plt
import pandas as pd
import numpy as np
import warnings
from collections import Counter

In [3]:
warnings.filterwarnings("ignore")

In [4]:
veri = pd.read_csv("C:\\Users\\lenovo\\Desktop\\athlete_events.csv")
veri.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [5]:
pd.DataFrame(veri.head(3))

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [6]:
veri.rename(columns={"ID": "id", "Name": "ad"}, inplace = True)

In [7]:
veri.head(3)

,id,ad,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [16]:
veri.dropna()

,id,ad,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [8]:
veri.head(2)

,id,ad,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [9]:
veri.rename(columns={"Sex": "cinsiyet",
                     "Age": "yaş",
                     "Height": "boy",
                     "Weight": "kilo",
                     "Team": "takım",
                     "NOC" : "uoc",
                     "Games": "oyunlar",
                     "Year": "yıl",
                     "Season": "sezon",
                     "City": "şehir",
                     "Sport": "spor",
                     "Event": "olay",
                     "Medal": "madalya"}, inplace = True)

In [10]:
veri.head(3)

,id,ad,cinsiyet,yaş,boy,kilo,takım,uoc,oyunlar,yıl,sezon,şehir,spor,olay,madalya
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [11]:
essiz_etkinlik = pd.unique(veri.olay)

In [12]:
print("Eşsiz Olimpiyat Yarışı Tema Sayısı: {}".format(len(essiz_etkinlik)))
essiz_etkinlik[:3]

Eşsiz Olimpiyat Yarışı Tema Sayısı: 765

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football"], dtype=object)

In [32]:
veri_cpy = veri.copy()

In [14]:
boy_kilo_lst = ["boy", "kilo"]

In [39]:
for i in essiz_etkinlik:
    etkinlik_filtre = veri_cpy.olay == i
    veri_filt = veri_cpy[etkinlik_filtre]
    for e in boy_kilo_lst:
        print(veri_filt[e])
        ortalama = np.round(np.mean(veri_filt[e]), 2)
        print("Ortalama: {}".format(ortalama))
        if ~np.isnan(ortalama): #Ortalama varsa, etkinlikteki ortalamayla o katılımcının verilerini doldur
            veri_filt[e] = veri_filt[e].fillna(ortalama)
        else: #Ortalama yoksa o etkinlik üzerinde, o zaman tüm verideki boy kilo ortalamasını yapıştır o kişiye.
            tum_veri_ortalamasi = np.round(np.mean(veri[e]), 2)
            veri_filt[e] = veri_filt[e].fillna(tum_veri_ortalamasi)
        veri_cpy[etkinlik_filtre] = veri_filt
veri = veri_cpy.copy()
veri.info()

0         180.00
250       194.87
264       195.00
346       189.00
359       178.00
           ...
270741    218.00
270742    218.00
270743    201.00
270744    201.00
271026    202.00
Name: boy, Length: 3280, dtype: float64
Ortalama: 194.87
0          80.00
250        91.68
264        85.00
346        85.00
359        67.00
           ...
270741    115.00
270742    115.00
270743    100.00
270744    100.00
271026     98.00
Name: kilo, Length: 3280, dtype: float64
Ortalama: 91.68
1         170.00
435       165.00
1101      161.00
1321      165.69
2357      167.00
           ...
267437    172.00
267790    171.00
268754    165.00
268755    165.00
270021    160.00
Name: boy, Length: 341, dtype: float64
Ortalama: 165.69
1         60.00
435       60.00
1101      60.00
1321      61.02
2357      60.00
          ...
267437    60.00
267790    66.00
268754    63.00
268755    63.00
270021    60.00
Name: kilo, Length: 341, dtype: float64
Ortalama: 61.02
2         177.48
116       177.48
157       175.00
178       185.00
183       190.00
           ...
270734    178.00
270810    172.00
270843    177.48
270982    178.00
271107    175.00
Name: boy, Length: 5733, dtype: float64
Ortalama: 177.48
2         73.09
116       73.09
157       72.00
178       82.00
183       77.00
          ...
270734    70.00
270810    69.00
270843    73.09
270982    79.00
271107    75.00
Name: kilo, Length: 5733, dtype: float64
Ortalama: 73.09
3         182.48
5305      182.48
6935      182.48
9536      182.48
9543      192.00
           ...
262163    182.48
262552    182.48
262832    182.48
263607    182.48
270429    182.48
Name: boy, Length: 170, dtype: float64
Ortalama: 182.48
3         95.62
5305      95.62
6935      95.62
9536      95.62
9543      95.00
          ...
262163    95.62
262552    95.62
262832    95.62
263607    95.62
270429    95.62
Name: kilo, Length: 170, dtype: float64
Ortalama: 95.62
4         185.0
6         185.0
8         185.0
6394      163.0
7799      174.0
          ...
268770    174.0
268923    172.0
268924    172.0
270221    177.0
271050    174.0
Name: boy, Length: 467, dtype: float64
Ortalama: 167.36
4         82.0
6         82.0
8         82.0
6394      52.0
7799      72.0
          ...
268770    65.0
268923    70.0
268924    70.0
270221    69.0
271050    65.0
Name: kilo, Length: 467, dtype: float64
Ortalama: 62.49
5         185.00
7         185.00
9         185.00
972       167.00
4130      165.00
           ...
268833    167.66
268922    172.00
270175    160.00
270222    177.00
271051    174.00
Name: boy, Length: 497, dtype: float64
Ortalama: 167.66
5         82.00
7         82.00
9         82.00
972       65.00
4130      57.00
          ...
268833    62.55
268922    70.00
270175    52.00
270222    69.00
271051    65.00
Name: kilo, Length: 497, dtype: float64
Ortalama: 62.55
10        188.00
14        188.00
18        183.00
22        183.00
2520      178.00
           ...
267924    185.00
269752    178.84
270264    168.00
270268    168.00
271066    178.00
Name: boy, Length: 294, dtype: float64
Ortalama: 178.84
10        75.00
14        75.00
18        72.00
22        72.00
2520      70.00
          ...
267924    70.00
269752    72.38
270264    75.00
270268    75.00
271066    75.00
Name: kilo, Length: 294, dtype: float64
Ortalama: 72.38
11        188.00
19        183.00
120       182.00
122       182.00
2053      166.00
           ...
270816    168.00
270818    168.00
270887    177.05
271068    178.00
271073    178.00
Name: boy, Length: 1100, dtype: float64
Ortalama: 177.05
11        75.00
19        72.00
120       73.00
122       73.00
2053      72.00
          ...
270816    60.00
270818    60.00
270887    71.12
271068    75.00
271073    75.00
Name: kilo, Length: 1100, dtype: float64
Ortalama: 71.12
12        188.0
16        188.0
20        183.0
24        183.0
2522      178.0
          ...
263375    178.7
269754    178.7
270266    168.0
270270    168.0
271069    178.0
Name: boy, Length: 251, dtype: float64
Ortalama: 178.7
12        75.00
16        75.00
20        72.00
24        72.00
2522      70.00
          ...
263375    72.24
269754    72.24
270266    75.00
270270    75.00
271069    75.00
Name: kilo, Length: 251, dtype: float64
Ortalama: 72.24
13        188.00
17        188.00
21        183.00
25        183.00
123       182.00
           ...
270414    184.00
270416    184.00
270417    184.00
270882    177.63
271043    177.63
Name: boy, Length: 1114, dtype: float64
Ortalama: 177.63
13        75.00
17        75.00
21        72.00
25        72.00
123       73.00
          ...
270414    75.00
270416    75.00
270417    75.00
270882    71.49
271043    71.49
Name: kilo, Length: 1114, dtype: float64
Ortalama: 71.49
15        188.0
23        183.0
30        182.0
119       182.0
2521      178.0
          ...
270269    168.0
270413    184.0
270817    168.0
271067    178.0
271072    178.0
Name: boy, Length: 892, dtype: float64
Ortalama: 177.15
15        75.0
23        72.0
30        76.5
119       73.0
2521      70.0
          ...
270269    75.0
270413    75.0
270817    60.0
271067    75.0
271072    75.0
Name: kilo, Length: 892, dtype: float64
Ortalama: 71.12
26        168.0
526       163.0
527       163.0
1081      170.0
1096      180.0
          ...
269182    175.0
269184    175.0
269320    170.0
270763    156.0
271053    174.0
Name: boy, Length: 1063, dtype: float64
Ortalama: 166.22
26        57.49
526       56.00
527       56.00
1081      58.00
1096      70.00
          ...
269182    59.00
269184    59.00
269320    58.00
270763    40.00
271053    62.00
Name: kilo, Length: 1063, dtype: float64
Ortalama: 57.49
27        168.0
719       173.0
774       159.0
1190      163.0
1234      167.0
          ...
269186    175.0
269188    175.0
269321    170.0
270455    168.0
271055    174.0
Name: boy, Length: 1174, dtype: float64
Ortalama: 166.97
27        58.0
719       61.0
774       54.0
1190      54.0
1234      55.0
          ...
269186    59.0
269188    59.0
269321    58.0
270455    55.0
271055    62.0
Name: kilo, Length: 1174, dtype: float64
Ortalama: 58.0
28        186.00
40        184.00
672       185.00
673       180.99
923       183.00
           ...
270854    176.00
270888    177.00
270919    180.99
271036    183.00
271037    183.00
Name: boy, Length: 4762, dtype: float64
Ortalama: 180.99
28         96.00
40         85.00
672       102.00
673        83.78
923        87.00
           ...
270854     75.00
270888     76.00
270919     83.78
271036     84.00
271037     84.00
Name: kilo, Length: 4762, dtype: float64
Ortalama: 83.78
29        182.85
538       182.85
802       190.00
1020      177.00
1109      181.00
           ...
270283    195.00
270285    195.00
270400    182.85
270403    182.85
270999    182.85
Name: boy, Length: 928, dtype: float64
Ortalama: 182.85
29        76.74
538       76.74
802       78.00
1020      64.00
1109      77.00
          ...
270283    85.00
270285    85.00
270400    76.74
270403    76.74
270999    76.74
Name: kilo, Length: 928, dtype: float64
Ortalama: 76.74
31        172.00
757       177.00
758       177.00
759       177.00
3024      179.22
           ...
269791    171.00
269792    171.00
271022    181.00
271023    181.00
271024    181.00
Name: boy, Length: 293, dtype: float64
Ortalama: 179.22
31        70.00
757       68.00
758       68.00
759       68.00
3024      72.94
          ...
269791    61.00
269792    61.00
271022    75.00
271023    75.00
271024    75.00
Name: kilo, Length: 293, dtype: float64
Ortalama: 72.94
32        159.0
33        159.0
2884      170.0
3832      164.0
3833      164.0
          ...
265781    170.0
265782    170.0
265972    156.0
268726    168.0
268961    171.0
Name: boy, Length: 184, dtype: float64
Ortalama: 168.55
32        55.5
33        55.5
2884      58.0
3832      55.0
3833      55.0
          ...
265781    59.0
265782    59.0
265972    50.0
268726    64.0
268961    61.0
Name: kilo, Length: 184, dtype: float64
Ortalama: 58.81
34        171.0
1401      173.0
1404      173.0
1407      173.0
2932      160.0
          ...
269786    170.0
270648    161.0
270653    161.0
270656    161.0
270958    176.0
Name: boy, Length: 531, dtype: float64
Ortalama: 166.61
34        65.0
1401      62.0
1404      62.0
1407      62.0
2932      55.0
          ...
269786    56.0
270648    52.0
270653    52.0
270656    52.0
270958    62.0
Name: kilo, Length: 531, dtype: float64
Ortalama: 57.27
35        182.01
37        182.01
39        182.01
1013      182.01
1716      182.01
           ...
269520    177.00
269727    173.00
270014    182.00
270773    193.00
271038    182.01
Name: boy, Length: 868, dtype: float64
Ortalama: 182.01
35        76.69
37        76.69
39        76.69
1013      76.69
1716      76.69
          ...
269520    85.00
269727    76.69
270014    80.00
270773    82.00
271038    76.69
Name: kilo, Length: 868, dtype: float64
Ortalama: 76.69
36        177.0
38        177.0
7091      177.0
8906      171.0
13228     177.0
15882     177.0
16629     177.0
37476     177.0
45462     177.0
45464     177.0
45497     177.0
53565     177.0
53605     177.0
55329     177.0
82080     177.0
94207     177.0
94209     177.0
94317     177.0
99502     183.0
103130    177.0
133043    177.0
134278    177.0
139750    177.0
139883    177.0
144505    177.0
147664    177.0
147784    177.0
154231    177.0
154234    177.0
195081    177.0
201802    177.0
205716    177.0
214264    177.0
229446    177.0
248946    177.0
254542    177.0
257361    177.0
Name: boy, dtype: float64
Ortalama: 177.0
36        75.0
38        75.0
7091      75.0
8906      75.0
13228     75.0
15882     75.0
16629     75.0
37476     75.0
45462     75.0
45464     75.0
45497     75.0
53565     75.0
53605     75.0
55329     75.0
82080     75.0
94207     75.0
94209     75.0
94317     75.0
99502     75.0
103130    75.0
133043    75.0
134278    75.0
139750    75.0
139883    75.0
144505    75.0
147664    75.0
147784    75.0
154231    75.0
154234    75.0
195081    75.0
201802    75.0
205716    75.0
214264    75.0
229446    75.0
248946    75.0
254542    75.0
257361    75.0
Name: kilo, dtype: float64
Ortalama: 75.0
41        175.00
49        175.00
139       167.00
261       167.63
302       167.63
           ...
270465    162.00
270482    164.00
270490    164.00
270567    167.63
270664    167.00
Name: boy, Length: 2500, dtype: float64
Ortalama: 167.63
41        64.00
49        64.00
139       64.00
261       63.35
302       63.35
          ...
270465    61.00
270482    59.00
270490    59.00
270567    63.35
270664    63.00
Name: kilo, Length: 2500, dtype: float64
Ortalama: 63.35
42        175.00
50        175.00
303       167.54
398       167.54
414       167.54
           ...
270466    162.00
270483    164.00
270491    164.00
270568    167.54
270574    167.54
Name: boy, Length: 2411, dtype: float64
Ortalama: 167.54
42        64.00
50        64.00
303       63.13
398       63.13
414       63.13
          ...
270466    61.00
270483    59.00
270491    59.00
270568    63.13
270574    63.13
Name: kilo, Length: 2411, dtype: float64
Ortalama: 63.13
43        175.0
51        175.0
140       167.0
304       167.6
399       167.6
          ...
270459    162.0
270467    162.0
270484    164.0
270492    164.0
270665    167.0
Name: boy, Length: 1880, dtype: float64
Ortalama: 167.6
43        64.00
51        64.00
140       64.00
304       63.34
399       63.34
          ...
270459    61.00
270467    61.00
270484    59.00
270492    59.00
270665    63.00
Name: kilo, Length: 1880, dtype: float64
Ortalama: 63.34
44        175.00
52        175.00
305       167.56
400       167.56
416       167.56
           ...
270485    164.00
270493    164.00
270569    167.56
270666    167.00
270914    167.56
Name: boy, Length: 1868, dtype: float64
Ortalama: 167.56
44        64.00
52        64.00
305       63.36
400       63.36
416       63.36
          ...
270485    59.00
270493    59.00
270569    63.36
270666    63.00
270914    63.36
Name: kilo, Length: 1868, dtype: float64
Ortalama: 63.36
45        175.00
53        175.00
141       167.00
306       167.66
401       167.66
           ...
270486    164.00
270494    164.00
270570    167.66
270667    167.00
270915    167.66
Name: boy, Length: 2049, dtype: float64
Ortalama: 167.66
45        64.0
53        64.0
141       64.0
306       63.3
401       63.3
          ...
270486    59.0
270494    59.0
270570    63.3
270667    63.0
270915    63.3
Name: kilo, Length: 2049, dtype: float64
Ortalama: 63.3
46        175.00
54        175.00
142       167.00
307       167.75
402       167.75
           ...
270487    164.00
270495    164.00
270571    167.75
270668    167.00
270916    167.75
Name: boy, Length: 2041, dtype: float64
Ortalama: 167.75
46        64.00
54        64.00
142       64.00
307       63.46
402       63.46
          ...
270487    59.00
270495    59.00
270571    63.46
270668    63.00
270916    63.46
Name: kilo, Length: 2041, dtype: float64
Ortalama: 63.46
47        175.00
55        175.00
143       167.00
308       167.51
403       167.51
           ...
270471    162.00
270488    164.00
270496    164.00
270572    167.51
270669    167.00
Name: boy, Length: 2020, dtype: float64
Ortalama: 167.51
47        64.00
55        64.00
143       64.00
308       63.35
403       63.35
          ...
270471    61.00
270488    59.00
270496    59.00
270572    63.35
270669    63.00
Name: kilo, Length: 2020, dtype: float64
Ortalama: 63.35
48        175.00
56        175.00
144       167.00
309       167.76
404       167.76
           ...
270489    164.00
270497    164.00
270573    167.76
270670    167.00
270917    167.76
Name: boy, Length: 2031, dtype: float64
Ortalama: 167.76

KeyboardInterrupt: